.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%, #{fade-out($black, .1)} 50%, $black 100%);
  p {
    margin-bottom: 5rem;
  }
  .video {
    //padding: 2em;
    background-color: rgba(22,22,22,0.9);
    background-size: cover;
  }

  .zitat {
    font-style: italic;
  }
  .autor {
    text-align: right;
   }
}
